
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Roboto+Condensed&family=Varela&display=swap');

:root{
    --light: #ffffff;
    --light-secondary : #f3f7f9;
    --gray : #6c6c6c;
    --hover : #ece8e8;
    --dark : #000000;
    --marginer : #4617b4;
    --primary : #29b8cc;
    --primary-secondary : #25a4b4;
    --pink : #f47694;
    --red : #a12b2f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .music-web{
} */
select::-ms-expand {	display: none; }
select{
    color: var(--primary);
    border: none;
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
   select { width: 110%; background-position: right 30px center !important; border: none !important;}
}
select:focus{
    outline: none;
}
option{
    margin: 5px;
    color: var(--dark);
}
body{
    transition: 0.5s;
}
.first-container{
    display: flex;
}

.icon-box{
    width: 50px;
    background-color: var(--light-secondary);
    
}
.container{
    height: 50px;
    padding: 15px;
}
.container:hover{
    background-color: var(--hover);
}
.out-icon-box{
    margin-top: 67px;
}

/* text-box   text-box */

.d-n{
    display: none;
}
.text-box{
    /* display: none; */
    display: block;
    width: 420px;
    height: 567px;
    background-color: var(--light-secondary);
}
.text-box .control{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
}
.text-box .hover:hover{
    background-color: var(--hover);
}
.control .mm{
    margin-right: 20px;
}
.control .pt{
    margin-right: 170px;
}
.input{
    width: 285px;
    background-color: var(--light);
    height: 35px;
    /* margin: 10px auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.input input{
    width: 235px;
    border: none;
}
.input input:focus{
    outline: none;
}

/* setting - setting - setting */
.non-setting{
    display: none;
}
.setting{
    display: block;
    width: 300px;
    height: 400px;
    background-color: var(--light-secondary);
    position: absolute;
    bottom: 110px;
    left: 15px;
    box-shadow: 0 0 5px black;
}
.setting .ctn{
    font-family: 'Varela', sans-serif;
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setting .ctn i{
    font-size: 20px;
}
.setting .header p{
    font-size: 25px;
    color: var(--dark);
}
/* signin signin sign in */

.signin{
    display: block;
    width: 300px;
    height: 400px;
    background-color: var(--light);
    border: 1px solid black;
    position: absolute;
    top: 50px;
    left: 540px;
   box-shadow: 0 0 5px gray;
   animation: slowShow 2s;
}
.signin .bran{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 25px;
}
.signin .bran .logo{
    width: 40px;
    margin-bottom: 10px;
}
.signin .bran p{
    font-size: 25px;
}
.signin .box{
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 15px auto;
}
.signin .box input{
    height: 35px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 5px;
}.signin .box input:focus{
    outline: none;
}
.signin .btn{
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
}
.signin .acc a{
    margin: 0px auto;
}
.skp{
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 15px;
}
@keyframes slowShow {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}


/* .song-box  song-box song-box */


.song-box{
    /* display: none; */
    width: 100%;
    padding: 50px 25px 0;
}
.song-box .header p{
    font-size: 40px;
    font-family: 'Catamaran', sans-serif;
}
.cont-box{
    margin-top: 10px;
    display: flex;
}
.cont{
    width: 100px;
}
.cont p{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}
.divider{
    height: 1px;
    background-color: var(--dark);
    margin-top: 5px;
}
.add-time{
    margin: 25px 0;
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* table table table table table */

.table-box{
    width: 100%;
    height: 335px;
    overflow: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table tr{
    height: 55px;
    background-color: var(--light-secondary);
}
table tr td i{
    color: var(--light-secondary);
    font-size: 18px;
}
table tr td{
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}
table tr:nth-child(even){
    background-color: var(--light);
}
table tr:nth-child(even) i{
    color: var(--light);
}
table tr:hover{
    background-color: var(--hover);
}
table tr:hover i{
    color: var(--dark);
}


/* //base-container// */

.base-container{
    display: block;
    display: flex;
    align-items: center;
    height: 90px;
    background-color: var(--primary-secondary);
}
.square{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hover);
}
.square .art-squ{
    width:40px;
    height: 40px;
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.square .cir{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.square .mark{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--dark);
}
.music-name{
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-name p{
    color: var(--light);
}
.play{
    width: 400px;
    text-align: center;
    /* margin-left: 350px; */
}
.play .icon{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}
.play .icon #i{
    color: var(--light);
    font-size: 40px;
}
.play .icon .skip{
    color: var(--light);
    font-size: 25px;
}
.play .icon .child{
    color: var(--light);
}
.line{
    margin-top: 10px;
    width: 400px;
    height: 1px;
    background-color: var(--light);
}
.voice{
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    /* margin-left: 250px; */
}
.voice i{
    color: var(--light);
    font-size: 20px;
}
.voice-line{
    width: 150px;
    height: 1px;
    background-color: var(--light);
}
.ddd{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}